body,
button,
input,
select,
textarea {
	font-family: 'Mada', sans-serif;
	font-size: 20px;
	line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
}

.masthead {
    padding: 1em 2em;
    background-color: #0D1B2E;
    color: white;
    text-align: center;
}

.intro {
    padding: 2em;
    color: #ffffff;
    background: #429890;
    text-align: center;
}

.intro p,
.test-area {
    margin: 0 auto;
    max-width: 550px;
}

.test-area {
    margin-bottom: 4em;
    padding: 0 2em;
}

.pattern {
    direction: rtl;
    padding-top: 10px;
}

#origin-text {
    margin: 1em 0;
    padding: 1em;
    background-color: #ededed;
    border-radius: 6px;
}

.test-wrapper {
    border: 10px solid grey;
    border-radius: 10px;
    display: flex;
}

.test-wrapper textarea {
    flex: 1;
    padding: 10px;
    font-size: 18px;
}

.meta {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer {
    font-size: 2.5em;
    font-weight: bold;
    color: #0D1B2E;
}

#reset {
    padding: .5em 1.5em;
    font-size: 1.2em;
    font-weight: bold;
    color: #430a69;
    background: white;
    border: 3px solid #430a69;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#reset:hover {
    color: white;
    background-color: #430a69;
}